<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../../stylesheets/spectre.css">
  <link rel="stylesheet" href="../../stylesheets/spectre.min.css">
  <link rel="stylesheet" href="../../stylesheets/spectre-icons.min.css">
  <link rel="stylesheet" href="../../stylesheets/spectre-exp.min.css">
  <link rel="stylesheet" href="../../stylesheets/spectre-0.5.8/docs/dist/docs.min.css">
  <link rel="stylesheet" href="../../stylesheets/jquery-ui.css">
  <title>实验室管理系统</title>
    <style type="text/css" rel="stylesheet">
      .wrap{margin:0 auto;width:700px;} 
    </style>
  </head>
  <script src="https://cdn.bootcss.com/blueimp-md5/2.5.0/js/md5.js"></script>
  <script type="text/javascript" src="/javascripts/checkuserCookie.js"></script>
  <script type="text/javascript" src="/javascripts/equipment/in.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>
  <script type="text/javascript">
    var i = 0;
    var eqid = new Array();
    var ename = new Array();
    var getequipmentTime = new Array();
    var getequipmentReason = new Array();
    var emember = new Array();
    {{each datas as value index}}
      eqid[i] = '{{value.eid}}';
      ename[i] = '{{value.ename}}';
      getequipmentTime[i] = '{{value.getequipmentTime}}';
      getequipmentReason[i] = '{{value.getequipmentReason}}';
      emember[i] = '{{value.member}}';
      i++;                    
    {{/each}}
  </script>
  <script type="text/javascript">
    var i = 0;
    var cname=new Array();
    var ctele=new Array();
    var corga=new Array();
    {{each contacts as value index}}
      cname[i] = '{{value.name}}';
      ctele[i] = '{{value.telephone}}';
      corga[i] = '{{value.organization}}';
      i++;                    
    {{/each}}
  </script>
  <style> 
    .white_content { 
        display: none; 
    }
  </style>
  <body onload="checkuserCookie({{id}},'{{password}}','{{name}}');equipment(eqid,ename,getequipmentTime,getequipmentReason,emember);today()">
    <div class="docs-container off-canvas off-canvas-sidebar-show">
      <div class="docs-navbar"><a class="off-canvas-toggle btn btn-link btn-action" href="#sidebar"><i class="icon icon-menu"></i></a>
        <ul class="tab">
            <li class="tab-item"><a href="/homePage?id={{id}}&password={{password}}&name={{name}}">首页</a></li>
            <li class="tab-item"><a href="/homePage/personal?id={{id}}&password={{password}}&name={{name}}" id="demo">{{name}}</a></li>
            <li class="tab-item"><a href="/">退出</a></li>
        </ul>
      </div>
      <div class="docs-sidebar off-canvas-sidebar" id="sidebar">
        <div class="docs-brand">
          <h3>实验室管理系统</h3>
        </div>
        <div class="docs-nav">
          <div class="accordion-container">
            <div class="accordion">
              <input id="member" type="checkbox" name="docs-accordion-checkbox" hidden=""/>
              <label class="accordion-header c-hand" for="member">人员</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="/homePage/memberList?id={{id}}&password={{password}}&name={{name}}">人员一览表</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/memberProfile?id={{id}}&password={{password}}&name={{name}}">人员档案登记</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/memberPost?id={{id}}&password={{password}}&name={{name}}">检测人员上岗审批</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/regularMeeting?id={{id}}&password={{password}}&name={{name}}">例会登记</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="accordion">
              <input id="accordion-getting-started" type="checkbox" name="docs-accordion-checkbox" hidden=""/>
              <label class="accordion-header c-hand" for="accordion-getting-started">事件</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="">标准查新</a>
                  </li>
                  <li class="menu-item"><a href="">内审</a>
                  </li>
                  <li class="menu-item"><a href="">管理评审</a>
                  </li>
                  <li class="menu-item"><a href="/train?id={{id}}&password={{password}}&name={{name}}">人员培训</a>
                  </li>
                  <li class="menu-item"><a href="">能力验证</a>
                  </li>
                  <li class="menu-item"><a href="">期间核查</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/activity?id={{id}}&password={{password}}&name={{name}}">测试活动</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/testProject?id={{id}}&password={{password}}&name={{name}}">测试项目</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/securityCheck?id={{id}}&password={{password}}&name={{name}}">安全检查</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/contract?id={{id}}&password={{password}}&name={{name}}">合同管理</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="accordion">
              <input id="equipment" type="checkbox" name="docs-accordion-checkbox" hidden="" checked="checked"/>
              <label class="accordion-header c-hand" for="equipment">仪器设备</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="/homePage/list?id={{id}}&password={{password}}&name={{name}}">新设备入库</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/repair?id={{id}}&password={{password}}&name={{name}}">设备维修</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/maintenance?id={{id}}&password={{password}}&name={{name}}">设备保养</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/use?id={{id}}&password={{password}}&name={{name}}">设备使用登记</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/inout?id={{id}}&password={{password}}&name={{name}}"><strong>设备出入登记</strong></a>
                  </li>
                  <li class="menu-item"><a href="/homePage/outage?id={{id}}&password={{password}}&name={{name}}">设备停用申请</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/restoreOutage?id={{id}}&password={{password}}&name={{name}}">设备恢复使用申请</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/equipmentDisabled?id={{id}}&password={{password}}&name={{name}}">设备报废申请</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/adjust?id={{id}}&password={{password}}&name={{name}}">设备检定校准</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="off-canvas-content">
        <div class="docs-content" id="content">
          <div class="container" id="experimentals">
            <h3 class="s-title">仪器设备归还登记表</h3>
              <div class="docs-demo columns">
                <div class="column col-9 col-sm-12">
                  <form class="form-horizontal" action="/homePage/in?id={{id}}&password={{password}}&name={{name}}" method="post">
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label" for="input-example-1">设备编号</label>
                      </div>
                      <div class="col-9" id="equipment_select">
                        <select class="form-select" id="eid" name="id"  onchange="equipment(eqid,ename,getequipmentTime,getequipmentReason,emember)">
                        {{each datas as value index}}
                          <option value="{{value.eid}}">{{value.eid}}</option>
                        {{/each}}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label" for="input-example-2">设备名称</label>
                      </div>
                      <div class="col-9">
                        <input class="form-input" id="input-example-2" name="name" readonly="readonly">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label" for="input-example-3">取走设备时间</label>
                      </div>
                      <div class="col-9">
                        <input class="form-input" id="input-example-3" readonly="readonly" type="date">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label" for="input-example-5">取走原因</label>
                      </div>
                      <div class="col-9">
                        <input class="form-input" id="input-example-5" readonly="readonly">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label" for="input-example-6">领取人</label>
                      </div>
                      <div class="col-9">
                        <input class="form-input" id="input-example-6" readonly="readonly">
                      </div>
                    </div>
                    <div class="form-group" id="flag">
                      <div class="col-3">
                        <label class="form-label" for="input-example-7">归还人</label>
                      </div>
                      <div class="col-9" id="people"> 
                        <input onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5\ ]/g,'');getName(this.value)" onpaste="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5\ ]/g,'')" oncontextmenu = "value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5\ ]/g,'')" class="form-input" id="project" name="member" placeholder="姓名" required="required" onblur="clearName(this.value)">
                      </div>
                    </div>
                    <div class="form-group">
                    </div>
                    <div id="plus">
                    </div>
                    <div class="form-group">
                    </div>
                    <div class="form-group">
                      <div class="col-6">
                      </div>
                      <div class="col-3">
                        <button type="button" class="btn btn-primary" onclick="add(cname,ctele,corga)" id="addButton">添加外部人员</button>
                      </div>
                      <div class="col-3">
                        <button type="button" class="btn btn-primary btn-action" id="minusButton"><i class="icon icon-cross"></i></button>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label" for="input-example-7">归还时间</label>
                      </div>
                      <div class="col-9">
                        <input class="form-input" id="input-example-7" type="date" required="required" name="returnequipmentTime" readonly="readonly">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label" for="input-example-8">归还时设备状态</label>
                      </div>
                      <div class="col-9">
                        <select class="form-select" name="returnequipmentState" >
                          <option value="正常">正常</option>
                          <option value="出现故障">出现故障</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label" for="input-example-9">验收人员</label>
                      </div>
                      <div class="col-9">
                        <label class="form-checkbox form-inline">
                          <input type="checkbox" checked="" value="{{name}}" onclick="return false" name="checkmember"><i class="form-icon"></i>{{name}}
                        </label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label" for="input-example-10">备注</label>
                      </div>
                      <div class="col-9">
                        <input class="form-input" id="input-example-10" name="remarks">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-4">
                      </div>
                      <div class="col-4">
                        <button class="btn btn-primary input-group-btn" type="submit" style="display:block;margin:0 auto">提交</button>
                      </div>
                      <div class="col-4">
                      </div>
                    </div>
                    <input class="white_content" id="contactsname">  
                  </form>
                </div>
              </div>
          </div>
        </div>
      </div>
  </body>
</html> 