<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../../stylesheets/spectre.css">
  <link rel="stylesheet" href="../../stylesheets/spectre.min.css">
  <link rel="stylesheet" href="../../stylesheets/spectre-icons.min.css">
  <link rel="stylesheet" href="../../stylesheets/spectre-exp.min.css">
  <link rel="stylesheet" href="../../stylesheets/spectre-0.5.8/docs/dist/docs.min.css">
  <title>实验室管理系统</title>
    <style type="text/css" rel="stylesheet">
      .wrap{margin:0 auto;width:700px;} 
    </style>
  </head>
  <script src="https://cdn.bootcss.com/blueimp-md5/2.5.0/js/md5.js"></script>
  <script type="text/javascript" src="/javascripts/checkuserCookie.js"></script>
  <script type="text/javascript" src="/javascripts/equipment/disabledcheckVerify.js"></script>
  <body onload="checkuserCookie({{id}},'{{password}}','{{name}}')">
    <div class="docs-container off-canvas off-canvas-sidebar-show">
      <div class="docs-navbar"><a class="off-canvas-toggle btn btn-link btn-action" href="#sidebar"><i class="icon icon-menu"></i></a>
        <ul class="tab">
            <li class="tab-item"><a href="/homePage?id={{id}}&password={{password}}&name={{name}}">首页</a></li>
            <li class="tab-item"><a href="/homePage/personal?id={{id}}&password={{password}}&name={{name}}" id="demo">{{name}}</a></li>
            <li class="tab-item"><a href="/">退出</a></li>
        </ul>
      </div>
      <div class="docs-sidebar off-canvas-sidebar" id="sidebar">
        <div class="docs-brand">
          <h3>实验室管理系统</h3>
        </div>
        <div class="docs-nav">
          <div class="accordion-container">
            <div class="accordion">
              <input id="accordion-getting-started" type="checkbox" name="docs-accordion-checkbox" hidden=""/>
              <label class="accordion-header c-hand" for="accordion-getting-started">事件</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="">标准查新</a>
                  </li>
                  <li class="menu-item"><a href="">内审</a>
                  </li>
                  <li class="menu-item"><a href="">管理评审</a>
                  </li>
                  <li class="menu-item"><a href="">人员培训</a>
                  </li>
                  <li class="menu-item"><a href="">能力验证</a>
                  </li>
                  <li class="menu-item"><a href="">期间核查</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/testProject?id={{id}}&password={{password}}&name={{name}}">测试项目</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/securityCheck?id={{id}}&password={{password}}&name={{name}}">安全检查</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/contract?id={{id}}&password={{password}}&name={{name}}">合同管理</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="accordion">
              <input id="equipment" type="checkbox" name="docs-accordion-checkbox" hidden="" checked="checked"/>
              <label class="accordion-header c-hand" for="equipment">仪器设备</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="/homePage/list?id={{id}}&password={{password}}&name={{name}}">新设备入库</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/repair?id={{id}}&password={{password}}&name={{name}}">设备维修</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/maintenance?id={{id}}&password={{password}}&name={{name}}">设备保养</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/use?id={{id}}&password={{password}}&name={{name}}">设备使用登记</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/inout?id={{id}}&password={{password}}&name={{name}}">设备出入登记</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/outage?id={{id}}&password={{password}}&name={{name}}"><strong>设备停用申请</strong></a>
                  </li>
                  <li class="menu-item"><a href="/homePage/restoreOutage?id={{id}}&password={{password}}&name={{name}}">设备恢复使用申请</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/equipmentDisabled?id={{id}}&password={{password}}&name={{name}}">设备报废申请</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/adjust?id={{id}}&password={{password}}&name={{name}}">设备检定校准</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="off-canvas-content">
        <div class="docs-content" id="content">
          <div class="container" id="experimentals">
            <h3 class="s-title">仪器设备停用申请</h3>
              <div class="docs-demo columns">
                <div class="column col-9 col-sm-12">
                  <form class="form-horizontal" action="/homePage/outageapplyCheck?id={{id}}&password={{password}}&name={{name}}&eid={{datas.eid}}&longTime={{datas.longTime}}" method="post">
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label" for="input-example-1">设备编号</label>
                      </div>
                      <div class="col-9">
                        <input class="form-input" id="input-example-1" value="{{datas.eid}}" readonly="readonly">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label" for="input-example-2">设备名称</label>
                      </div>
                      <div class="col-9">
                        <input class="form-input" id="input-example-2" value="{{datas.ename}}" readonly="readonly">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label" for="input-example-3">规格型号</label>
                      </div>
                      <div class="col-9">
                        <input class="form-input" id="input-example-3" value="{{datas.eversion}}" readonly="readonly">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label" for="input-example-4">出厂编号</label>
                      </div>
                      <div class="col-9">
                        <input class="form-input" id="input-example-4" value="{{datas.manufactureNumber}}" readonly="readonly">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label" for="input-example-5">制造厂</label>
                      </div>
                      <div class="col-9">
                        <input class="form-input" id="input-example-5" value="{{datas.manufacturer}}" readonly="readonly">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label" for="input-example-6">停用原因</label>
                      </div>
                      <div class="col-9">
                        <input class="form-input" id="input-example-6" value="{{datas.outageReason}}" readonly="readonly">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label">意见</label>
                      </div>
                      <div class="col-9">
                        <label class="form-radio form-inline">
                          <input type="radio" name="opinion" checked="" value="同意"><i class="form-icon"></i> 同意
                        </label>
                        <label class="form-radio form-inline">
                          <input type="radio" name="opinion" value="不同意"><i class="form-icon"></i> 不同意并退回
                        </label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                      </div>
                      <div class="col-9">
                        <input class="form-input" placeholder="若不同意请输入原因" name="opinionRemarks">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-4">
                      </div>
                      <div class="col-4">
                        <button class="btn btn-primary input-group-btn" type="submit" style="display:block;margin:0 auto">提交</button>
                      </div>
                      <div class="col-4">
                      </div>
                    </div>  
                  </form>
                </div>
              </div>
              <div class="docs-footer container grid-lg" id="copyright">
                <p><a href="https://github.com/BUPTEMC" target="_blank">GitHub</a> · <a href="https://twitter.com/Yii21503255" target="_blank">Twitter</a> · Version <span class="version"></span></p>
                <p>Designed and built with <span class="text-error">&hearts;</span> by <a href="https://github.com/Yii3154" target="_blank">Yii</a></p>
              </div>
          </div>
        </div>
      </div>
  </body>
</html> 