<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../../stylesheets/spectre.css">
  <link rel="stylesheet" href="../../stylesheets/spectre.min.css">
  <link rel="stylesheet" href="../../stylesheets/spectre-icons.min.css">
  <link rel="stylesheet" href="../../stylesheets/spectre-exp.min.css">
  <link rel="stylesheet" href="../../stylesheets/spectre-0.5.8/docs/dist/docs.min.css">
  <link rel="stylesheet" href="../../stylesheets/jquery-ui.css">
  <title>实验室管理系统</title>
    <style>
      .hide_general { 
            display: none; 
            position: absolute; 
        } 
    </style>
  </head>
  <script src="https://cdn.bootcss.com/blueimp-md5/2.5.0/js/md5.js"></script>
  <script type="text/javascript" src="/javascripts/checkuserCookie.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>
  <script type="text/javascript">
    var isClick = false;
    function judgelength() {
      var checkbox = document.getElementsByName('sampleType');
      var checkbox2 = document.getElementsByName('superviseMember');
      var num = 0,num2 = 0;
      for (var i = 0; i < checkbox.length; i++) {
        if (checkbox[i].checked == true) {
          num++;
        }  
      }
      for (var i = 0; i < checkbox2.length; i++) {
        if (checkbox2[i].checked == true) {
          num2++;
        }  
      }
      if (num < 1) {
        alert("请勾选抽样样品");
        return false;
      }
      if (num2 < 1) {
        alert("请勾选监督人员");
        return false;
      }
      if (isClick == false) {
        alert("请上传抽样地点图示");
        return false;
      }
      var gnl = confirm("确定要提交?");
      if (gnl == true){
        return true;
      } else {
        return false;
      }
    }
  </script>
  <body onload="checkuserCookie({{id}},'{{password}}','{{name}}')">
    <div class="docs-container off-canvas off-canvas-sidebar-show">
      <div class="docs-navbar"><a class="off-canvas-toggle btn btn-link btn-action" href="#sidebar"><i class="icon icon-menu"></i></a>
        <ul class="tab">
            <li class="tab-item"><a href="/homePage?id={{id}}&password={{password}}&name={{name}}">首页</a></li>
            <li class="tab-item"><a href="/homePage/personal?id={{id}}&password={{password}}&name={{name}}" id="demo">{{name}}</a></li>
            <li class="tab-item"><a href="/">退出</a></li>
        </ul>
      </div>
      <div class="docs-sidebar off-canvas-sidebar" id="sidebar">
        <div class="docs-brand">
          <h3>实验室管理系统</h3>
        </div>
        <div class="docs-nav">
          <div class="accordion-container">
            <div class="accordion">
              <input id="member" type="checkbox" name="docs-accordion-checkbox" hidden=""/>
              <label class="accordion-header c-hand" for="member">人员</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="/homePage/memberList?id={{id}}&password={{password}}&name={{name}}">人员一览表</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/memberProfile?id={{id}}&password={{password}}&name={{name}}">人员档案登记</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/memberPost?id={{id}}&password={{password}}&name={{name}}">检测人员上岗审批</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/regularMeeting?id={{id}}&password={{password}}&name={{name}}">例会登记</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="accordion">
              <input id="accordion-getting-started" type="checkbox" name="docs-accordion-checkbox" hidden="" checked="checked"/>
              <label class="accordion-header c-hand" for="accordion-getting-started">事件</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="/update?id={{id}}&password={{password}}&name={{name}}">标准查新</a>
                  </li>
                  <li class="menu-item"><a href="">内审</a>
                  </li>
                  <li class="menu-item"><a href="">管理评审</a>
                  </li>
                  <li class="menu-item"><a href="/train?id={{id}}&password={{password}}&name={{name}}">人员培训</a>
                  </li>
                  <li class="menu-item"><a href="">能力验证</a>
                  </li>
                  <li class="menu-item"><a href="">期间核查</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/activity?id={{id}}&password={{password}}&name={{name}}"><strong>测试活动</strong></a>
                  </li>
                  <li class="menu-item"><a href="/homePage/testProject?id={{id}}&password={{password}}&name={{name}}">测试项目</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/securityCheck?id={{id}}&password={{password}}&name={{name}}">安全检查</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/contract?id={{id}}&password={{password}}&name={{name}}">合同管理</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="accordion">
              <input id="management" type="checkbox" name="docs-accordion-checkbox" hidden=""/>
              <label class="accordion-header c-hand" for="management">管理体系</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="/fileManagement?id={{id}}&password={{password}}&name={{name}}">文件</a>
                  </li>
                  <li class="menu-item"><a href="/standard?id={{id}}&password={{password}}&name={{name}}">标准</a>
                  </li>
                  <li class="menu-item"><a href="/client?id={{id}}&password={{password}}&name={{name}}">客户管理</a>
                  </li>
                  <li class="menu-item"><a href="/NCR?id={{id}}&password={{password}}&name={{name}}">不符合项管理</a>
                  </li>
                  <li class="menu-item"><a href="/precaution?id={{id}}&password={{password}}&name={{name}}">预防措施管理</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="accordion">
              <input id="equipment" type="checkbox" name="docs-accordion-checkbox" hidden=""/>
              <label class="accordion-header c-hand" for="equipment">仪器设备</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="/homePage/list?id={{id}}&password={{password}}&name={{name}}">新设备入库</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/repair?id={{id}}&password={{password}}&name={{name}}">设备维修</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/maintenance?id={{id}}&password={{password}}&name={{name}}">设备保养</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/use?id={{id}}&password={{password}}&name={{name}}">设备使用登记</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/inout?id={{id}}&password={{password}}&name={{name}}">设备出入登记</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/outage?id={{id}}&password={{password}}&name={{name}}">设备停用申请</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/restoreOutage?id={{id}}&password={{password}}&name={{name}}">设备恢复使用申请</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/equipmentDisabled?id={{id}}&password={{password}}&name={{name}}">设备报废申请</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/adjust?id={{id}}&password={{password}}&name={{name}}">设备检定校准</a>
                  </li>
                  <li class="menu-item"><a href="/IMC?id={{id}}&password={{password}}&name={{name}}">设备期间核查</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="off-canvas-content">
        <div class="docs-content" id="content">
          <div class="container" id="experimentals">
            <h3 class="s-title">抽样计划</h3>
              <div class="docs-demo columns">
                <div class="column col-9 col-sm-12">
                  <form class="form-horizontal" action="" method="post" onsubmit="return judgelength()">
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label">委托方名称</label>
                      </div>
                      <div class="col-9">
                        <input class="form-input" name="organization" required="required" value="{{datas.organization}}" readonly="readonly">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label">项目名称</label>
                      </div>
                      <div class="col-9">
                        <input class="form-input" name="pname" value="{{datas.pname}}" required="required" readonly="readonly">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label">抽样方法</label>
                      </div>
                      <div class="col-9">
                        <textarea class="form-input" placeholder="示例：在进行电磁环境测量时应将幼儿园、学校、办公楼、居民楼等人口密度大的地区全部列为样品。如将这些人口密集的场所全部抽取为样品时，样品比例仍不足20%，需要在剩余的待检测的对象随机抽取一定量的样本，使样品比例达到20%。在进行其他项目测试时，通常将全部的待检测对象列为样品。" rows="6" name="sampleMethod" required="required"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label">抽样样品</label>
                      </div>
                      <div class="col-9">
                        <label class="form-checkbox form-inline">
                            <input type="checkbox" name="sampleType" value="幼儿园"><i class="form-icon"></i> 幼儿园
                        </label>
                        <label class="form-checkbox form-inline">
                            <input type="checkbox" name="sampleType" value="学校"><i class="form-icon"></i> 学校
                        </label>
                        <label class="form-checkbox form-inline">
                            <input type="checkbox" name="sampleType" value="办公楼"><i class="form-icon"></i> 办公楼
                        </label>
                        <label class="form-checkbox form-inline">
                            <input type="checkbox" name="sampleType" value="居民楼"><i class="form-icon"></i> 居民楼
                        </label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label">是否涵盖所有敏感点</label>
                      </div>
                      <div class="col-2">
                      </div>
                      <div class="col-6">
                        <label class="form-radio form-inline">
                          <input type="radio" name="sensitivePot" checked="" value="是"><i class="form-icon"></i> 是
                        </label>
                        <label class="form-radio form-inline">
                          <input type="radio" name="sensitivePot" value="否"><i class="form-icon"></i> 否
                        </label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label">监督人员</label>
                      </div>
                      <div class="col-9">
                        <label class="form-checkbox form-inline">
                          <input type="checkbox" name="superviseMember" value="无"><i class="form-icon"></i> 无
                        </label>
                        {{each datas1 as value index}}
                          <label class="form-checkbox form-inline">
                            <input type="checkbox" name="superviseMember" value="{{value.userName}}"><i class="form-icon"></i> {{value.userName}}
                          </label>
                        {{/each}}
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label">抽样地点图示</label>
                      </div>
                      <div class="col-9">
                        <input class="form-input" id="input-example-10" type="file" name="credit" accept="application/pdf" onchange="fileUpload()" style="display:none">
                        <div class="input-group">
                          <button type="button" class="btn btn-sm" id="sampleaddress_button">上传附件(.pdf)</button>
                          <span class="chip" id="sampleaddress_chip" style="display: none;">
                            <a href=""></a><i class="form-icon icon icon-check"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <script>
                      $('#sampleaddress_button').on('click',function(){
                          $("#input-example-10").trigger("click");
                      });
                      function fileUpload() {
                        var myPhoto = $('#input-example-10')[0].files[0];
                        var filename = $('#input-example-10')[0].files[0].name;
                        var oMyForm = new FormData();
                        oMyForm.append("name", 'crazyJiaLin');
                        oMyForm.append("userfile", myPhoto);
                        $.ajax({
                            type : 'POST',
                            url : '/homePage/sampleaddressUpload',
                            cache : false,  //不需要缓存
                            processData : false,    //不需要进行数据转换
                            contentType : false, //默认数据传输方式是application,改为false，编程multipart
                            data : oMyForm,
                            dataType : 'json'
                        }).done(function(data){
                            console.log(data);
                            if (data.errCode == 1) {
                                isClick = true;
                              }
                              else {
                                isClick = false;
                              }
                            var her = "<a href='" + data.uploadPath + "' target='_blank'>" + filename + "</a>";
                            var chip = her + "<i class='form-icon icon icon-check'></i>";
                            $("#sampleaddress_chip").show();
                            $("#sampleaddress_chip").html(chip);
                            $('#imgUrl').val(data.uploadPath); 
                        }).fail(function(err){
                            console.error(err);
                        });
                      }
                    </script>
                    <div id="plus8" class="hide_general">
                      <div class="col-3">
                        <label class="form-label">地址</label>
                      </div>
                      <div class="col-9">
                        <input class="form-input" id="imgUrl" name="sampleaddressUrl">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                      </div>
                      <div class="col-4">
                        <button class="btn btn-primary input-group-btn" id="submit-button" type="submit" style="display:block;margin:0 auto">提交给技术负责人</button>
                      </div>
                      <div class="col-2">
                        <button type="button" class="btn" id="back-button">返回</button>
                      </div>
                      <div class="col-3">
                      </div>
                    </div>
                    <script>
                      $('#submit-button').on('onsubmit',function(){
                        $.ajax({
                            type : 'POST',
                            url : '/homePage/sampleApply?id={{id}}&password={{password}}&name={{name}}&acid={{acid}}&acname={{acname}}',
                            data : $("form").serialize()
                        });
                      });
                      $('#back-button').on('click',function(){
                        var gnl = confirm("确定要返回?");
                        if (gnl == true){
                          javascript:history.go(-1);
                        } else {
                          return false;
                        }
                      });
                    </script>  
                  </form>
                </div>
              </div>
          </div>
        </div>
      </div>
  </body>
</html> 