<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../../stylesheets/spectre.css">
  <link rel="stylesheet" href="../../stylesheets/spectre.min.css">
  <link rel="stylesheet" href="../../stylesheets/spectre-icons.min.css">
  <link rel="stylesheet" href="../../stylesheets/spectre-exp.min.css">
  <link rel="stylesheet" href="../../stylesheets/spectre-0.5.8/docs/dist/docs.min.css">
  <title>实验室管理系统</title>
    <style type="text/css" rel="stylesheet">
      .wrap{margin:0 auto;width:700px;} 
    </style>
  </head>
  <script src="https://cdn.bootcss.com/blueimp-md5/2.5.0/js/md5.js"></script>
  <script type="text/javascript" src="/javascripts/checkuserCookie.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <style> 
        .white_content { 
            display: none; 
            position: absolute; 
            top: 25%;
            left: 35%;
            width: 45%;
            height: 25%; 
            padding: 20px; 
            border: 2px solid #5755d9; 
            background-color: white; 
            z-index: 1002; 
            overflow: auto; 
        }
        .black_content { 
            display: none; 
            position: absolute; 
            top: 30%;
            left: 35%;
            width: 40%;
            height: 40%; 
            padding: 20px; 
            border: 2px solid #5755d9; 
            background-color: white; 
            z-index: 1002; 
            overflow: auto; 
        }
    </style>
  <body onload="checkuserCookie({{id}},'{{password}}','{{name}}')">
    <div class="docs-container off-canvas off-canvas-sidebar-show">
      <div class="docs-navbar"><a class="off-canvas-toggle btn btn-link btn-action" href="#sidebar"><i class="icon icon-menu"></i></a>
        <ul class="tab">
            <li class="tab-item"><a href="/homePage?id={{id}}&password={{password}}&name={{name}}">首页</a></li>
            <li class="tab-item"><a href="/homePage/personal?id={{id}}&password={{password}}&name={{name}}" id="demo">{{name}}</a></li>
            <li class="tab-item"><a href="/">退出</a></li>
        </ul>
      </div>
      <div class="docs-sidebar off-canvas-sidebar" id="sidebar">
        <div class="docs-brand">
          <h3>实验室管理系统</h3>
        </div>
        <div class="docs-nav">
          <div class="accordion-container">
            <div class="accordion">
              <input id="member" type="checkbox" name="docs-accordion-checkbox" hidden=""/>
              <label class="accordion-header c-hand" for="member">人员</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="/homePage/memberList?id={{id}}&password={{password}}&name={{name}}">人员一览表</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/memberProfile?id={{id}}&password={{password}}&name={{name}}">人员档案登记</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/memberPost?id={{id}}&password={{password}}&name={{name}}">检测人员上岗审批</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/regularMeeting?id={{id}}&password={{password}}&name={{name}}">例会登记</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="accordion">
              <input id="accordion-getting-started" type="checkbox" name="docs-accordion-checkbox" hidden="" checked="checked"/>
              <label class="accordion-header c-hand" for="accordion-getting-started">事件</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="">标准查新</a>
                  </li>
                  <li class="menu-item"><a href="">内审</a>
                  </li>
                  <li class="menu-item"><a href="">管理评审</a>
                  </li>
                  <li class="menu-item"><a href="/train?id={{id}}&password={{password}}&name={{name}}">人员培训</a>
                  </li>
                  <li class="menu-item"><a href="">能力验证</a>
                  </li>
                  <li class="menu-item"><a href="">期间核查</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/activity?id={{id}}&password={{password}}&name={{name}}">测试活动</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/testProject?id={{id}}&password={{password}}&name={{name}}">测试项目</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/securityCheck?id={{id}}&password={{password}}&name={{name}}">安全检查</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/contract?id={{id}}&password={{password}}&name={{name}}"><strong>合同管理</strong></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="accordion">
              <input id="management" type="checkbox" name="docs-accordion-checkbox" hidden=""/>
              <label class="accordion-header c-hand" for="management">管理体系</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="/fileManagement?id={{id}}&password={{password}}&name={{name}}">文件</a>
                  </li>
                  <li class="menu-item"><a href="/standard?id={{id}}&password={{password}}&name={{name}}">标准</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="accordion">
              <input id="equipment" type="checkbox" name="docs-accordion-checkbox" hidden=""/>
              <label class="accordion-header c-hand" for="equipment">仪器设备</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="/homePage/list?id={{id}}&password={{password}}&name={{name}}">新设备入库</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/repair?id={{id}}&password={{password}}&name={{name}}">设备维修</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/maintenance?id={{id}}&password={{password}}&name={{name}}">设备保养</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/use?id={{id}}&password={{password}}&name={{name}}">设备使用登记</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/inout?id={{id}}&password={{password}}&name={{name}}">设备出入登记</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/outage?id={{id}}&password={{password}}&name={{name}}">设备停用申请</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/restoreOutage?id={{id}}&password={{password}}&name={{name}}">设备恢复使用申请</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/equipmentDisabled?id={{id}}&password={{password}}&name={{name}}">设备报废申请</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/adjust?id={{id}}&password={{password}}&name={{name}}">设备检定校准</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="off-canvas-content">
        <div class="docs-content" id="content">
          <div class="container" id="experimentals">
            <h3 class="s-title">{{datas.conname}}详情</h3>
              <div class="docs-demo columns">
              <div class="column col-12">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>项目</th>
                      <th>内容</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>合同编号</td>
                      <td>{{datas.conid}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>正式合同编号</td>
                      <td>{{datas.conrealid}}</td>
                      <td>
                        <button type="button" class="btn btn-sm" id="confirmreal">点击输入</button>
                        <script>
                          $('#confirmreal').on('click',function(){
                            var pmt = prompt("请输入正式合同编号");
                            pmt = pmt.replace(/\s/g,"");
                            if(pmt.length == 0) {
                              alert("请输入有效字符");
                            }
                            else {
                              var page = '/homePage/confirmconrealid?conid={{datas.conid}}&conrealid=' + pmt;
                              $.ajax({
                                  type : 'POST',
                                  url : page,
                                  cache : false,  //不需要缓存
                                  processData : false,    //不需要进行数据转换
                                  contentType : false
                              }).done(function(data){
                                  console.log(data);
                                  if (data.errCode == 1) {
                                    location.reload();
                                    alert(data.errMsg);
                                  }
                                  else {
                                    alert(data.errMsg);
                                  }  
                              }).fail(function(err){
                                  console.error(err);
                              });
                            }                           
                          });
                        </script> 
                      </td>
                    </tr>
                    <tr>
                      <td>合同名称</td>
                      <td>{{datas.conname}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>项目状态</td>
                      <td>{{datas.state}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>申请人</td>
                      <td>{{datas.applicant}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>申请时间</td>
                      <td>{{datas.applyTime}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>委托单位</td>
                      <td>{{datas.organization}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>委托方联系人</td>
                      <td>{{datas.contacts}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>联系电话</td>
                      <td>{{datas.tele}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>邮箱</td>
                      <td>{{datas.email}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>项目名称</td>
                      <td>{{datas.pname}}</td>
                      <td></td>    
                    </tr>
                    <tr>
                      <td>合同内容</td>
                      <td>{{datas.content}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>测试方法</td>
                      <td>{{datas.method}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>服务形式</td>
                      <td>{{datas.serviceType}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>双方职责</td>
                      <td>{{datas.duty}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>项目交付日期</td>
                      <td>{{datas.psubmitDate}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>合同总额</td>
                      <td>{{datas.price}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>允许偏离情况</td>
                      <td><a href="/homePage/contractdeviationShow?id={{id}}&password={{password}}&name={{name}}&conid={{datas.conid}}&conname={{datas.conname}}">偏离详情</a></td>
                      <td>
                        <button type="button" class="btn btn-sm" id="deviation_button">申请允许偏离</button>
                      </td>
                    </tr>
                    <script>
                      $('#deviation_button').on('click',function(){
                          $.ajax({
                              type : 'POST',
                              url : '/homePage/deviationCheck?pname={{datas.pname}}&name={{name}}&conid={{datas.conid}}',
                              cache : false,  //不需要缓存
                              processData : false,    //不需要进行数据转换
                              contentType : false
                          }).done(function(data){
                              console.log(data);
                              if (data.errCode == 1) {
                                window.location.href="/homePage/contractDeviation?id={{id}}&password={{password}}&name={{name}}&conid={{datas.conid}}&conname={{datas.conname}}";
                              }
                              else {
                                alert(data.errMsg);
                              }  
                          }).fail(function(err){
                              console.error(err);
                          });
                      });
                    </script>
                    <tr>
                      <td>分包情况</td>
                      <td><a href="/homePage/contractorDetail?id={{id}}&password={{password}}&name={{name}}&conid={{datas.conid}}">分包详情</a></td>
                      <td>
                        <button type="button" class="btn btn-sm" id="contractorReview_button">分包方评审</button>
                        <button type="button" class="btn btn-sm" id="addContractor_button">添加合格的分包方</button>
                      </td>
                    </tr>
                    <script>
                      $('#contractorReview_button').on('click',function(){
                        window.location.href= "/homePage/contractorReview?id={{id}}&password={{password}}&name={{name}}&conid={{datas.conid}}&pname={{datas.pname}}";
                      });
                      $('#addContractor_button').on('click',function(){
                        window.location.href= "/homePage/addContractor?id={{id}}&password={{password}}&name={{name}}&conid={{datas.conid}}";
                      });
                    </script>
                    <tr>
                      <td>分包协议</td>
                      <td id="result"><a href="{{datas.contractorResultUrl}}" download="分包协议">下载分包协议</td>
                      <td>
                        <input class="form-input" id="input-example-10" type="file" name="credit" accept="application/pdf" onchange="fileUpload()" style="display:none">
                        <button type="button" class="btn btn-sm" id="contractorResult_button">上传分包协议</button>
                      </td>
                    </tr>
                    <script>
                      $('#contractorResult_button').on('click',function(){
                          $("#input-example-10").trigger("click");
                      });
                      function fileUpload() {
                        var myPhoto = $('#input-example-10')[0].files[0];
                        var oMyForm = new FormData();
                        oMyForm.append("name", 'crazyJiaLin');
                        oMyForm.append("userfile", myPhoto);
                        $.ajax({
                            type : 'POST',
                            url : '/homePage/contractorResultUpload?conid={{datas.conid}}',
                            cache : false,  //不需要缓存
                            processData : false,    //不需要进行数据转换
                            contentType : false, //默认数据传输方式是application,改为false，编程multipart
                            data : oMyForm,
                            dataType : 'json'
                        }).done(function(data){
                            console.log(data);
                            alert(data.errMsg);
                            location.reload(); 
                        }).fail(function(err){
                            console.error(err);
                        });
                      }
                    </script>
                    <script>
                      if ("{{datas.contractorResultUrl}}" == "") {
                        $("#result").empty();
                      }
                    </script>
                    <tr>
                      <td>合同文件</td>
                      <td id="downloadcontract"><a href="{{datas.contractUrl}}" download="{{datas.conname}}">下载合同</td>
                      <td>
                        <input class="form-input" id="input-example-11" type="file" name="contractUrl" accept="application/pdf" onchange="contractUpload()" style="display:none">
                        <button type="button" class="btn btn-sm" id="contractUpload_button">上传合同</button>
                      </td>
                    </tr>
                    <script>
                      $('#contractUpload_button').on('click',function(){
                          $("#input-example-11").trigger("click");
                      });
                      function contractUpload() {
                        var myPhoto = $('#input-example-11')[0].files[0];
                        var oMyForm = new FormData();
                        oMyForm.append("name", 'crazyJiaLin');
                        oMyForm.append("userfile", myPhoto);
                        $.ajax({
                            type : 'POST',
                            url : '/homePage/contractUpload?conid={{datas.conid}}',
                            cache : false,  //不需要缓存
                            processData : false,    //不需要进行数据转换
                            contentType : false, //默认数据传输方式是application,改为false，编程multipart
                            data : oMyForm,
                            dataType : 'json'
                        }).done(function(data){
                            console.log(data);
                            alert(data.errMsg);
                            location.reload(); 
                        }).fail(function(err){
                            console.error(err);
                        });
                      }
                    </script>
                    <script>
                      if ("{{datas.contractUrl}}" == "") {
                        $("#downloadcontract").empty();
                      }
                    </script>
                    <tr>
                      <td>汇款情况</td>
                      <td><a href="/homePage/accountDetail?id={{id}}&password={{password}}&name={{name}}&conid={{datas.conid}}&conname={{datas.conname}}">汇款详情</a></td>
                      <td>
                        <button type="button" class="btn btn-sm" id="account_button">到账登记</button>
                      </td>
                    </tr>
                    <script>
                      $('#account_button').on('click',function(){
                          $.ajax({
                            type : 'POST',
                            url : '/homePage/synleaderCheck?id={{id}}&password={{password}}&name={{name}}',
                            cache : false,  //不需要缓存
                            processData : false,    //不需要进行数据转换
                            contentType : false
                          }).done(function(data){
                            console.log(data);
                            if (data.errCode == 1) {
                              window.location.href="/homePage/accountRecord?id={{id}}&password={{password}}&name={{name}}&conid={{datas.conid}}&conname={{datas.conname}}&remitter={{datas.organization}}";
                            }
                            else {
                              alert(data.errMsg);
                            }  
                          }).fail(function(err){
                              console.error(err);
                          });
                      });
                    </script>
                    <script>
                      if ("{{datas.contractUrl}}" == "") {
                        $("#downloadcontract").empty();
                      }
                    </script>
                    <tr>
                      <td>合同作废</td>
                      <td>{{datas.cancelReason}}</td>
                      <td>
                        <button type="button" class="btn btn-sm" id="cancel">作废</button>
                        <script>
                          $('#cancel').on('click',function(){
                            var pmt = prompt("请输入作废原因");
                            pmt = pmt.replace(/\s/g,"");
                            if(pmt.length == 0) {
                              alert("请输入有效字符");
                            }
                            else {
                              var page = '/homePage/contractCancel?conid={{datas.conid}}&cancelReason=' + pmt;
                              $.ajax({
                                  type : 'POST',
                                  url : page,
                                  cache : false,  //不需要缓存
                                  processData : false,    //不需要进行数据转换
                                  contentType : false
                              }).done(function(data){
                                  console.log(data);
                                  if (data.errCode == 1) {
                                    location.reload();
                                    alert(data.errMsg);
                                  }
                                  else {
                                    alert(data.errMsg);
                                  }  
                              }).fail(function(err){
                                  console.error(err);
                              });
                            }                           
                          });
                        </script> 
                      </td>
                    </tr>
                    <tr>
                      <td><a href="/homePage/contractreviewShow?id={{id}}&password={{password}}&name={{name}}&conid={{datas.conid}}">合同评审记录</a></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html> 