<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../stylesheets/spectre.css">
  <link rel="stylesheet" href="../stylesheets/spectre.min.css">
  <link rel="stylesheet" href="../stylesheets/spectre-icons.min.css">
  <link rel="stylesheet" href="../stylesheets/spectre-exp.min.css">
  <link rel="stylesheet" href="../stylesheets/docs_min/docs.min.css">
  <link rel="stylesheet" href="../stylesheets/bootstrap-table.css">
  <title>实验室管理系统</title>
    <style type="text/css" rel="stylesheet">
      .wrap{margin:0 auto;width:700px;} 
    </style>
  </head>
  <script src="https://cdn.bootcss.com/blueimp-md5/2.5.0/js/md5.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap/bootstrap-table.js"></script>
  <script type="text/javascript" src="/javascripts/checkuserCookie.js"></script>
  <script type="text/javascript" src="/javascripts/testProject/projectextensionShow.js"></script>
  <body onload="checkuserCookie({{id}},'{{password}}','{{name}}')">
    <div class="docs-container off-canvas off-canvas-sidebar-show">
      <div class="docs-navbar"><a class="off-canvas-toggle btn btn-link btn-action" href="#sidebar"><i class="icon icon-menu"></i></a>
        <ul class="tab">
            <li class="tab-item"><a href="/homePage?id={{id}}&password={{password}}&name={{name}}">首页</a></li>
            <li class="tab-item"><a href="/homePage/personal?id={{id}}&password={{password}}&name={{name}}" id="demo">{{name}}</a></li>
            <li class="tab-item"><a href="/">退出</a></li>
        </ul>
      </div>
      <div class="docs-sidebar off-canvas-sidebar" id="sidebar">
        <div class="docs-brand">
          <h3>实验室管理系统</h3>
        </div>
        <div class="docs-nav">
          <div class="accordion-container">
            <div class="accordion">
              <input id="member" type="checkbox" name="docs-accordion-checkbox" hidden=""/>
              <label class="accordion-header c-hand" for="member">人员</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="/homePage/memberList?id={{id}}&password={{password}}&name={{name}}">人员一览表</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/memberProfile?id={{id}}&password={{password}}&name={{name}}">人员档案登记</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/memberPost?id={{id}}&password={{password}}&name={{name}}">检测人员上岗审批</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/regularMeeting?id={{id}}&password={{password}}&name={{name}}">例会登记</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="accordion">
              <input id="accordion-getting-started" type="checkbox" name="docs-accordion-checkbox" hidden="" checked="checked" />
              <label class="accordion-header c-hand" for="accordion-getting-started">事件</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="">标准查新</a>
                  </li>
                  <li class="menu-item"><a href="">内审</a>
                  </li>
                  <li class="menu-item"><a href="">管理评审</a>
                  </li>
                  <li class="menu-item"><a href="/train?id={{id}}&password={{password}}&name={{name}}">人员培训</a>
                  </li>
                  <li class="menu-item"><a href="">能力验证</a>
                  </li>
                  <li class="menu-item"><a href="">期间核查</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/activity?id={{id}}&password={{password}}&name={{name}}">测试活动</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/testProject?id={{id}}&password={{password}}&name={{name}}"><strong>测试项目</strong></a>
                  </li>
                  <li class="menu-item"><a href="/homePage/securityCheck?id={{id}}&password={{password}}&name={{name}}">安全检查</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/contract?id={{id}}&password={{password}}&name={{name}}">合同管理</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="accordion">
              <input id="management" type="checkbox" name="docs-accordion-checkbox" hidden=""/>
              <label class="accordion-header c-hand" for="management">管理体系</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="/fileManagement?id={{id}}&password={{password}}&name={{name}}">文件</a>
                  </li>
                  <li class="menu-item"><a href="/standard?id={{id}}&password={{password}}&name={{name}}">标准</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="accordion">
              <input id="equipment" type="checkbox" name="docs-accordion-checkbox" hidden=""/>
              <label class="accordion-header c-hand" for="equipment">仪器设备</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="/homePage/list?id={{id}}&password={{password}}&name={{name}}">新设备入库</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/repair?id={{id}}&password={{password}}&name={{name}}">设备维修</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/maintenance?id={{id}}&password={{password}}&name={{name}}">设备保养</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/use?id={{id}}&password={{password}}&name={{name}}">设备使用登记</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/inout?id={{id}}&password={{password}}&name={{name}}">设备出入登记</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/outage?id={{id}}&password={{password}}&name={{name}}">设备停用申请</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/restoreOutage?id={{id}}&password={{password}}&name={{name}}">设备恢复使用申请</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/equipmentDisabled?id={{id}}&password={{password}}&name={{name}}">设备报废申请</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/adjust?id={{id}}&password={{password}}&name={{name}}">设备检定校准</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="off-canvas-content">
        <div class="docs-content" id="content">
          <div class="container" id="experimentals">
            <h2 class="s-title">扩项申请记录表</h2>
            <div class="docs-demo columns">
                <div class="column col-12 col-xs-12">
                  <table class="table" style="margin:0 auto;" data-pagination="true" data-side-pagination="client" data-page-size="5" id="table_page">
                    <tbody>
                        {{each datas as value index}}
                        <tr>
                          <td>{{value.name}}</td>
                          <td>{{value.applicant}}</td>
                          <td>{{value.longTime}}</td>
                          <td>{{value.ename}}</td>
                          <td>{{value.member}}</td>
                          <td>{{value.ability}}</td>
                          <td>{{value.extensionMethod}}</td>
                          <td>{{value.chairmanName}}</td>
                          <td>{{value.opinion}}</td>
                          <td>{{value.opinionRemarks}}</td>
                          <td>{{value.result}}</td>
                          <td id="{{index}}"><a href="{{value.file}}" download="认可委网站结果">下载</td>
                        </tr>
                        <script>
                          if ("{{value.opinion}}" == "不同意") {
                            $("#{{index}}").empty();
                          }
                        </script>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html> 