<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../../stylesheets/spectre.css">
  <link rel="stylesheet" href="../../stylesheets/spectre.min.css">
  <link rel="stylesheet" href="../../stylesheets/spectre-icons.min.css">
  <link rel="stylesheet" href="../../stylesheets/spectre-exp.min.css">
  <link rel="stylesheet" href="../../stylesheets/spectre-0.5.8/docs/dist/docs.min.css">
  <title>实验室管理系统</title>
    <style type="text/css" rel="stylesheet">
      .wrap{margin:0 auto;width:700px;} 
    </style>
  </head>
  <script src="https://cdn.bootcss.com/blueimp-md5/2.5.0/js/md5.js"></script>
  <script type="text/javascript" src="/javascripts/checkuserCookie.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/testProject/projectDetail.js"></script>
    <style> 
        .white_content { 
            display: none; 
            position: absolute; 
            top: 25%;
            left: 35%;
            width: 45%;
            height: 25%; 
            padding: 20px; 
            border: 2px solid #5755d9; 
            background-color: white; 
            z-index: 1002; 
            overflow: auto; 
        }
        .black_content { 
            display: none; 
            position: absolute; 
            top: 30%;
            left: 35%;
            width: 40%;
            height: 40%; 
            padding: 20px; 
            border: 2px solid #5755d9; 
            background-color: white; 
            z-index: 1002; 
            overflow: auto; 
        }
    </style>
  <body onload="checkuserCookie({{id}},'{{password}}','{{name}}');conditions('{{datas.conditions}}','{{datas.conditionContent}}');sources('{{datas.ename}}','{{datas.innerMember}}','{{datas.newEquipment}}','{{datas.newPerson}}','{{datas.price}}')">
    <div class="docs-container off-canvas off-canvas-sidebar-show">
      <div class="docs-navbar"><a class="off-canvas-toggle btn btn-link btn-action" href="#sidebar"><i class="icon icon-menu"></i></a>
        <ul class="tab">
            <li class="tab-item"><a href="/homePage?id={{id}}&password={{password}}&name={{name}}">首页</a></li>
            <li class="tab-item"><a href="/homePage/personal?id={{id}}&password={{password}}&name={{name}}" id="demo">{{name}}</a></li>
            <li class="tab-item"><a href="/">退出</a></li>
        </ul>
      </div>
      <div class="docs-sidebar off-canvas-sidebar" id="sidebar">
        <div class="docs-brand">
          <h3>实验室管理系统</h3>
        </div>
        <div class="docs-nav">
          <div class="accordion-container">
            <div class="accordion">
              <input id="member" type="checkbox" name="docs-accordion-checkbox" hidden=""/>
              <label class="accordion-header c-hand" for="member">人员</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="/homePage/memberList?id={{id}}&password={{password}}&name={{name}}">人员一览表</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/memberProfile?id={{id}}&password={{password}}&name={{name}}">人员档案登记</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/memberPost?id={{id}}&password={{password}}&name={{name}}">检测人员上岗审批</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/regularMeeting?id={{id}}&password={{password}}&name={{name}}">例会登记</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="accordion">
              <input id="accordion-getting-started" type="checkbox" name="docs-accordion-checkbox" hidden="" checked="checked"/>
              <label class="accordion-header c-hand" for="accordion-getting-started">事件</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="/update?id={{id}}&password={{password}}&name={{name}}">标准查新</a>
                  </li>
                  <li class="menu-item"><a href="">内审</a>
                  </li>
                  <li class="menu-item"><a href="">管理评审</a>
                  </li>
                  <li class="menu-item"><a href="/train?id={{id}}&password={{password}}&name={{name}}">人员培训</a>
                  </li>
                  <li class="menu-item"><a href="">能力验证</a>
                  </li>
                  <li class="menu-item"><a href="">期间核查</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/activity?id={{id}}&password={{password}}&name={{name}}">测试活动</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/testProject?id={{id}}&password={{password}}&name={{name}}"><strong>测试项目</strong></a>
                  </li>
                  <li class="menu-item"><a href="/homePage/securityCheck?id={{id}}&password={{password}}&name={{name}}">安全检查</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/contract?id={{id}}&password={{password}}&name={{name}}">合同管理</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="accordion">
              <input id="management" type="checkbox" name="docs-accordion-checkbox" hidden=""/>
              <label class="accordion-header c-hand" for="management">管理体系</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="/fileManagement?id={{id}}&password={{password}}&name={{name}}">文件</a>
                  </li>
                  <li class="menu-item"><a href="/standard?id={{id}}&password={{password}}&name={{name}}">标准</a>
                  </li>
                  <li class="menu-item"><a href="/client?id={{id}}&password={{password}}&name={{name}}">客户管理</a>
                  </li>
                  <li class="menu-item"><a href="/NCR?id={{id}}&password={{password}}&name={{name}}">不符合项管理</a>
                  </li>
                  <li class="menu-item"><a href="/precaution?id={{id}}&password={{password}}&name={{name}}">预防措施管理</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="accordion">
              <input id="equipment" type="checkbox" name="docs-accordion-checkbox" hidden=""/>
              <label class="accordion-header c-hand" for="equipment">仪器设备</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="/homePage/list?id={{id}}&password={{password}}&name={{name}}">新设备入库</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/repair?id={{id}}&password={{password}}&name={{name}}">设备维修</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/maintenance?id={{id}}&password={{password}}&name={{name}}">设备保养</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/use?id={{id}}&password={{password}}&name={{name}}">设备使用登记</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/inout?id={{id}}&password={{password}}&name={{name}}">设备出入登记</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/outage?id={{id}}&password={{password}}&name={{name}}">设备停用申请</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/restoreOutage?id={{id}}&password={{password}}&name={{name}}">设备恢复使用申请</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/equipmentDisabled?id={{id}}&password={{password}}&name={{name}}">设备报废申请</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/adjust?id={{id}}&password={{password}}&name={{name}}">设备检定校准</a>
                  </li>
                  <li class="menu-item"><a href="/IMC?id={{id}}&password={{password}}&name={{name}}">设备期间核查</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="off-canvas-content">
        <div class="docs-content" id="content">
          <div class="container" id="experimentals">
            <h3 class="s-title">{{datas.name}}详情</h3>
              <div class="docs-demo columns">
              <div class="column col-12">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>项目</th>
                      <th>内容</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>项目名称</td>
                      <td>{{datas.name}}</td>
                      <td>
                        <button type="button" class="btn btn-sm" id="ban_button">项目停止</button>
                      </td>
                    </tr>
                    <script>
                      $('#ban_button').on('click',function(){
                        window.location.href="/homePage/testprojectBan?id={{id}}&password={{password}}&name={{name}}&pname={{datas.name}}";
                      });
                    </script>
                    <tr>
                      <td>项目状态</td>
                      <td>{{datas.state}}</td>
                      <td>
                        <button type="button" class="btn btn-sm" id="extension_button">扩项申请</button> 
                        <button type="button" class="btn btn-sm" id="confirm_button">扩项结果确认</button>
                      </td>
                    </tr>
                    <script>
                      $('#extension_button').on('click',function(){
                        if ("{{datas.state}}" == "已立项未获资质认可" || "{{datas.state}}" == "部分获得资质认可"){
                          if ({{extensionApply}} == 0) {
                            window.location.href="/homePage/testprojectExtension?id={{id}}&password={{password}}&name={{name}}&pname={{datas.name}}";
                          }
                          else {
                            alert("不具备扩项申请条件");
                          }
                        } else {
                          alert("不具备扩项申请条件");
                        }
                      });
                      $('#confirm_button').on('click',function(){
                        if ({{flag}} == 1){
                          window.location.href="/homePage/testprojectresultConfirm?id={{id}}&password={{password}}&name={{name}}&pname={{datas.name}}";
                        } else {
                          alert("该项目未扩项申请或扩项申请未通过");
                        }
                      });
                    </script>
                    <tr>
                      <td>立项依据</td>
                      <td>{{datas.criterion}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>立项时间</td>
                      <td>{{datas.assureTime}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>立项目的</td>
                      <td>{{datas.goal}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>市场需求</td>
                      <td>{{datas.demand}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>经济效益</td>
                      <td>{{datas.benefit}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>项目内容</td>
                      <td>{{datas.content}}</td>
                      <td>
                        <button type="button" class="btn btn-sm" id="modify_button">项目调整</button>
                      </td>
                    </tr>
                    <script>
                      $('#modify_button').on('click',function(){
                        if ("{{datas.state}}" == "已获得资质认可"){
                          if ({{modify}} == 0) {
                            window.location.href="/homePage/testprojectModify?id={{id}}&password={{password}}&name={{name}}&pname={{datas.name}}";
                          }
                          else {
                            alert("不具备项目调整条件");
                          }
                        } else {
                          alert("不具备项目调整条件");
                        }
                      });
                    </script>
                    <tr>
                      <td>条件</td>
                      <td id="accessorys_td"><a href = "javascript:void(0)" onclick = "document.getElementById('accessorys').style.display='block'">详情</a></td>
                      <td></td>    
                    </tr>
                    <tr>
                      <td>技术可行性</td>
                      <td>{{datas.feasibility}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>需要投入的资源</td>
                      <td id="accuracy_td"><a href = "javascript:void(0)" onclick = "document.getElementById('accuracy').style.display='block'">详情</a></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td><a href="/homePage/projectdetailReview?id={{id}}&password={{password}}&name={{name}}&pname={{datas.name}}">立项评审记录</a></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td><a href="/homePage/projectdetailExtension?id={{id}}&password={{password}}&name={{name}}&pname={{datas.name}}">扩项申请记录</a></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td><a href="/homePage/projectdetailModify?id={{id}}&password={{password}}&name={{name}}&pname={{datas.name}}">项目调整记录</a></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
                <div id="accessorys" class="white_content">
                    <div>
                      <table class="table">
                        <thead>
                          <tr>
                            <th>条件</th>
                            <th>条件内容</th>
                          </tr>
                        </thead>
                        <tbody id="accessorys_tbody">
                        </tbody>
                      </table>
                    </div>
                    <form class="form-horizontal">
                      <div class="form-group">
                      <div class="col-11">
                      </div>
                      <div class="col-1">
                        <a href = "javascript:void(0)" onclick = "document.getElementById('accessorys').style.display='none'">关闭</a>
                      </div>
                    </div>
                  </form>
                </div>
                <div id="accuracy" class="black_content">
                    <div>
                      <table class="table">
                        <thead>
                          <tr>
                            <th>项目</th>
                            <th>内容</th>
                          </tr>
                        </thead>
                        <tbody id="accuracy_tbody">
                        </tbody>
                      </table>
                    </div>
                    <form class="form-horizontal">
                      <div class="form-group">
                      <div class="col-11">
                      </div>
                      <div class="col-1">
                        <a href = "javascript:void(0)" onclick = "document.getElementById('accuracy').style.display='none'">关闭</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html> 