<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../../stylesheets/spectre.css">
  <link rel="stylesheet" href="../../stylesheets/spectre.min.css">
  <link rel="stylesheet" href="../../stylesheets/spectre-icons.min.css">
  <link rel="stylesheet" href="../../stylesheets/spectre-exp.min.css">
  <link rel="stylesheet" href="../../stylesheets/spectre-0.5.8/docs/dist/docs.min.css">
  <link rel="stylesheet" href="../../stylesheets/jquery-ui.css">
  <title>实验室管理系统</title>
    <style type="text/css" rel="stylesheet">
      .wrap{margin:0 auto;width:700px;} 
    </style>
  </head>
  <script src="https://cdn.bootcss.com/blueimp-md5/2.5.0/js/md5.js"></script>
  <script type="text/javascript" src="/javascripts/checkuserCookie.js"></script>
  <script type="text/javascript" src="/javascripts/testProject/projectReview.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>
  <script type="text/javascript">
    var projectname = new Array();
    var projectcriterion = new Array();
    {{each datas1 as value index}}
      projectname[{{index}}] = '{{value.name}}';
      projectcriterion[{{index}}] = '{{value.criterion}}';                
    {{/each}}
  </script>
  <body onload="checkuserCookie({{id}},'{{password}}','{{name}}');change(projectname,projectcriterion)">
    <div class="docs-container off-canvas off-canvas-sidebar-show">
      <div class="docs-navbar"><a class="off-canvas-toggle btn btn-link btn-action" href="#sidebar"><i class="icon icon-menu"></i></a>
        <ul class="tab">
            <li class="tab-item"><a href="/homePage?id={{id}}&password={{password}}&name={{name}}">首页</a></li>
            <li class="tab-item"><a href="/homePage/personal?id={{id}}&password={{password}}&name={{name}}" id="demo">{{name}}</a></li>
            <li class="tab-item"><a href="/">退出</a></li>
        </ul>
      </div>
      <div class="docs-sidebar off-canvas-sidebar" id="sidebar">
        <div class="docs-brand">
          <h3>实验室管理系统</h3>
        </div>
        <div class="docs-nav">
          <div class="accordion-container">
            <div class="accordion">
              <input id="accordion-getting-started" type="checkbox" name="docs-accordion-checkbox" hidden="" checked="checked"/>
              <label class="accordion-header c-hand" for="accordion-getting-started">事件</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="">标准查新</a>
                  </li>
                  <li class="menu-item"><a href="">内审</a>
                  </li>
                  <li class="menu-item"><a href="">管理评审</a>
                  </li>
                  <li class="menu-item"><a href="">人员培训</a>
                  </li>
                  <li class="menu-item"><a href="">能力验证</a>
                  </li>
                  <li class="menu-item"><a href="">期间核查</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/testProject?id={{id}}&password={{password}}&name={{name}}"><strong>测试项目</strong></a>
                  </li>
                  <li class="menu-item"><a href="/homePage/securityCheck?id={{id}}&password={{password}}&name={{name}}">安全检查</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/contract?id={{id}}&password={{password}}&name={{name}}">合同管理</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="accordion">
              <input id="equipment" type="checkbox" name="docs-accordion-checkbox" hidden=""/>
              <label class="accordion-header c-hand" for="equipment">仪器设备</label>
              <div class="accordion-body">
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="/homePage/list?id={{id}}&password={{password}}&name={{name}}">新设备入库</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/repair?id={{id}}&password={{password}}&name={{name}}">设备维修</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/maintenance?id={{id}}&password={{password}}&name={{name}}">设备保养</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/use?id={{id}}&password={{password}}&name={{name}}">设备使用登记</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/inout?id={{id}}&password={{password}}&name={{name}}">设备出入登记</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/outage?id={{id}}&password={{password}}&name={{name}}">设备停用申请</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/restoreOutage?id={{id}}&password={{password}}&name={{name}}">设备恢复使用申请</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/equipmentDisabled?id={{id}}&password={{password}}&name={{name}}">设备报废申请</a>
                  </li>
                  <li class="menu-item"><a href="/homePage/adjust?id={{id}}&password={{password}}&name={{name}}">设备检定校准</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="off-canvas-content">
        <div class="docs-content" id="content">
          <div class="container" id="experimentals">
            <h3 class="s-title">开展新项目评审表</h3>
              <div class="docs-demo columns">
                <div class="column col-9 col-sm-12">
                  <form class="form-horizontal" action="" method="post" onsubmit="return judgelength()">
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label">项目名称</label>
                      </div>
                      <div class="col-9" id="equipment_select">
                        <select class="form-select" id="pname" name="name" onchange="change(projectname,projectcriterion)">
                        {{each datas1 as value index}}
                          <option value="{{value.name}}">{{value.name}}</option>
                        {{/each}}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label">立项依据</label>
                      </div>
                      <div class="col-9">
                        <input class="form-input" id="input-2" name="criterion" readonly="readonly">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label">参加评审人员</label>
                      </div>
                      <div class="col-9">
                        {{each datas as value index}}
                          <label class="form-checkbox form-inline">
                            <input type="checkbox" value="{{value.userName}}" name="member"><i class="form-icon"></i>{{value.userName}}
                          </label>
                        {{/each}}
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                        <label class="form-label">评审内容</label>
                      </div>
                      <div class="col-5">
                        <label class="form-label">市场前景及经济效益预测</label>
                      </div>
                      <div class="col-2"> 
                        <label class="form-label">分数</label>
                      </div>
                      <div class="col-2">
                        <div class="input-group">
                          <select class="form-select" name="content1">
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                          </select>
                          <span class="input-group-addon">分</span>
                        </div> 
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                      </div>
                      <div class="col-5">
                        <label class="form-label">环境</label>
                      </div>
                      <div class="col-2"> 
                        <label class="form-label">分数</label>
                      </div>
                      <div class="col-2">
                        <div class="input-group">
                          <select class="form-select" name="content2">
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                          </select>
                          <span class="input-group-addon">分</span>
                        </div> 
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                      </div>
                      <div class="col-5">
                        <label class="form-label">设备</label>
                      </div>
                      <div class="col-2"> 
                        <label class="form-label">分数</label>
                      </div>
                      <div class="col-2">
                        <div class="input-group">
                          <select class="form-select" name="content3">
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                          </select>
                          <span class="input-group-addon">分</span>
                        </div> 
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                      </div>
                      <div class="col-5">
                        <label class="form-label">人员配置</label>
                      </div>
                      <div class="col-2"> 
                        <label class="form-label">分数</label>
                      </div>
                      <div class="col-2">
                        <div class="input-group">
                          <select class="form-select" name="content4">
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                          </select>
                          <span class="input-group-addon">分</span>
                        </div> 
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                      </div>
                      <div class="col-5">
                        <label class="form-label">开展新项目的测试方法</label>
                      </div>
                      <div class="col-2"> 
                        <label class="form-label">分数</label>
                      </div>
                      <div class="col-2">
                        <div class="input-group">
                          <select class="form-select" name="content5">
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                          </select>
                          <span class="input-group-addon">分</span>
                        </div> 
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="docs-footer container grid-lg">
                        <p>注：每项评审内容各5分，总分达到15分为评审通过</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-3">
                      </div>
                      <div class="col-4">
                        <button class="btn btn-primary input-group-btn" id="submit-button" type="submit" style="display:block;margin:0 auto">提交评审结果</button>
                      </div>
                      <div class="col-2">
                        <button type="button" class="btn" id="back-button">返回</button>
                      </div>
                      <div class="col-3">
                      </div>
                    </div>
                    <script>
                      $('#submit-button').on('onsubmit',function(){
                          $.ajax({
                              type : 'POST',
                              url : '/homePage/testprojectReview?id={{id}}&password={{password}}&name={{name}}',
                              data : $("form").serialize()
                          });
                      });
                      $('#back-button').on('click',function(){
                        var gnl = confirm("确定要返回?");
                        if (gnl == true){
                          window.location.href="/homePage/testprojectreviewShow?id={{id}}&password={{password}}&name={{name}}";
                        } else {
                          return false;
                        }
                      });
                    </script>  
                  </form>
                </div>
              </div>
          </div>
        </div>
      </div>
  </body>
</html> 